* {
  margin: 0;
}

body {
  background-color: silver;
  width: 100%;
}

.container {
  /* width: 100%; */
  /* height: 100vh; */
  background-color: silver;
}

.header {
  width: 100%;
  /* height: 10vh; */
  height: 50px;
  padding: 5px;
  text-align: center;
  background-color: gold;
  box-sizing: border-box;
  position: fixed;
  top: 0;
}

.navbar {
  width: 100%;
  margin-top: 50px;
  /* height: 5vh; */
  background-color: gold;
  text-align: center;
  box-sizing: border-box;
  padding: 5px;
  position: fixed;
  top: 0;
}

.navbar a {
  box-sizing: border-box;
  margin: 20px;
  text-decoration: none;
  color: black;
  /* border: 1px solid; */
  /* border-radius: 10px; */
}

.navbar a:hover {
  box-sizing: border-box;
  margin: 20px;
  text-decoration: none;
  /* color: black; */
  background-color: pink;
  border-radius: 5px;
  transition: 300ms;
}

.content {
  margin-top: 80px;
  width: 100%;
  /* height: 95vh; */
  margin-left: 20px;
  display: grid;
  grid-template-rows: 5% 35% 5% 50%;
}

.info {
  width: 100%;
  height: 100%;
}

.create {
  /* width: 100%; */
  /* height: 100%; */
  margin-top: 50px;
  display: grid;
}

.input-group {
  margin-top: 5px;
  margin-bottom: 5px;
  display: flex;
}

.input-group label {
  width: 110px;
}

.input-group input {
  width: 175px;
}

.create button {
  width: 293px;
  border: 1px solid;
  border-radius: 10px;
}

.create button:hover {
  background-color: pink;
  transition: 300ms;
}

.info2 {
  width: 100%;
  /* height: 100%; */
  margin-top: 50px;
  /* margin-left: 75px; */
}

.get {
  /* width: 100%; */
  /* height: 100%; */
  margin-top: 55px;
}

.get table {
  /* margin: auto; */
  border-collapse: collapse;
}

.get table a {
  text-decoration: none;
  color: black;
}

.get tr th {
  background-color: gold;
}

.get table tr:nth-child(even) {
  background-color: pink;
}

.get table th,
td {
  border: 1px solid;
}

.get table button {
  border-radius: 10px;
  border: 1px solid;
  background-color: gold;
}

.get table button:hover {
  background-color: pink;
  transition: 300ms;
}

.content .tabel {
  width: 700px;
  height: 100px;
  border-collapse: collapse;
  margin-top: -25px;
}

.content .tabel th {
  border: 1px solid;
  width: 120px;
  text-align: left;
}

.content .tabel td a {
  text-decoration: none;
  color: black;
}

.tabel tr th {
  background-color: gold;
}

.tabel tr td {
  background-color: pink;
}

.tabel td button {
  border-radius: 5px;
  border: 1px solid;
}

.tabel td button:hover {
  border-radius: 5px;
  background-color: silver;
  transition: 300ms;
}

.footer {
  width: 100%;
  text-align: center;
}
