<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visitor</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>VISITOR</h1>
      </div>
      <div class="navbar">
        <a href="/enter">ENTER</a>
        <a href="/">HOME</a>
        <a href="/leave">LEAVE</a>
      </div>
      <div class="content">
        <div class="info">
          <h1>Home</h1>
          <br>
          <h3>This is example modern visitor prison application</h3>
          <br>
          <h4>How to use?</h4>
          <br>
          <h5>When guest coming:</h5>
          <br>
          <ol>
            <li>click "ENTER" at navbar.</li>
            <li>request identity card to guest.</li>
            <li>input personal data guest to form "Guest enter".</li>
            <li>you can find direct result from your input.</li>
            <li>you also can view detail personal data, just clik "detail" from Table.</li>
            <li>if there is wrong data, you can click "edit" from the table.</li>
            <li>change the wrong data or you can click "Back" at navbar to return Guest enter.</li>
            <li>Finally if there is doubble input, you can click "delete" at table.</li>
          </ol>
          <br>
          <h5>When guest leaving:</h5>
          <br>
          <ol>
            <li>click "LEAVE" at navbar.</li>
            <li>request identity card again to guest.</li>
            <li>input personal data guest to form "Guest leave".</li>
            <li>you can find direct result from your input.</li>
            <li>you also can view detail personal data, just clik "detail" from Table.</li>
            <li>if there is wrong data, you can click "edit" from the table.</li>
            <li>change the wrong data or you can click "Back" at navbar to return Guest leave.</li>
            <li>Finally if there is doubble input, you can click "delete" at table.</li>
          </ol>
          <br>
          <h2>Hope it is useful........ 🙂</h2>
        </div>
        <div class="create">
        </div>
        <div class="info2">
        </div>
        <div class="get">
        </div>
      </div>
    </div>
    <div class="footer">
      <h6>&copy; 2024 Visitor</h6>
    </div>
  </div>
    </div>
  </body>
</html>
