<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visitor</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>VISITOR</h1>
      </div>
      <div class="navbar">
        <a href="/enter">ENTER</a>
        <a href="/">HOME</a>
        <a href="/leave">LEAVE</a>
      </div>
      <div class="content">
        <div class="info">
          <h1>Guests leave</h1>
          <br />
          <p><b>Insert Guests:</b></p>
        </div>
        <div class="create">
          <form action="/leave" method="post">
            <div class="input-group">
              <label for="">Id Card:</label>
              <input type="text" name="id_card" />
            </div>
            <div class="input-group">
              <label for="">Name:</label>
              <input type="text" name="name" />
            </div>
            <div class="input-group">
              <label for="">Address:</label>
              <input type="text" name="address" />
            </div>
            <div class="input-group">
              <label for="">Nationality:</label>
              <input type="text" name="nationality" />
            </div>
            <button type="submit">Submit!</button>
          </form>
        </div>
        <div class="info2">
          <p><b>Guests leave list: (<%= data.length %>)</b></p>
        </div>
        <div class="get">
          <table>
            <tr>
              <th align="center">No</th>
              <th align="center">Id card</th>
              <th align="center">Name</th>
              <th>Arrival date</th>
              <th>Arrival time</th>
              <th colspan="3" align="center">Action</th>
            </tr>
            <% if (data.length > 0) {%> <% for(i = 0; i < data.length; i++){ %>
            <tr>
              <td align="center"><%= i+1 %></td>
              <td align="center"><%= data[i].id_card %></td>
              <td><%= data[i].name %></td>
              <td><%= data[i].arrival_date %></td>
              <td><%= data[i].arrival_time %></td>
              <td align="center">
                <button type="button">
                  <a href="/leave/<%=data[i].guest_leave_id%>">Detail</a>
                </button>
              </td>
              <td align="center">
                <button type="button"><a href="/leave/edit/<%=data[i].guest_leave_id%>">Edit</a></button>
              </td>
              <td align="center"><button type="submit"><a href="/leave/delete/<%= data[i].guest_leave_id %>">Delete</a></button></td>
              <% }; %> <% }else { %>
              
              <% } %>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <div class="footer">
      <h6>&copy; 2024 Visitor</h6>
    </div>
  </div>
    </div>
  </body>
</html>
