<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visitor</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>VISITOR</h1>
      </div>
      <div class="navbar">
        <a href="/leave">BACK</a>
        <a href="/">HOME</a>
      </div>
      <div class="content">
        <h1>Guest Detail:</h1>
        <br />
        <br />
        <br />
        <table class="tabel">
          <tr>
            <th>Id card:</th>
            <td><%= data[0].id_card %></td>
          </tr>
          <tr>
            <th>Name:</th>
            <td><%= data[0].name %></td>
          </tr>
          <tr>
            <th>Address:</th>
            <td><%= data[0].address %></td>
          </tr>
          <tr>
            <th>Nationality:</th>
            <td><%= data[0].nationality %></td>
          </tr>
          <tr>
            <th>Arrival date:</th>
            <td><%= data[0].arrival_date %></td>
          </tr>
          <tr>
            <th>Arrival time:</th>
            <td><%= data[0].arrival_time %></td>
          </tr>
        </table>
      </div>
      <div class="footer"><h6>&copy; 2024 Visitor</h6></div>
    </div>
  </body>
</html>
