<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Visitor</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h1>VISITOR</h1>
      </div>
      <div class="navbar">
        <a href="/leave">BACK</a>
        <a href="/">HOME</a>
      </div>
      <div class="content">
        <div class="info">
          <h1>Guest leave</h1>
          <br />
          <p><b>Edit Guests:</b></p>
        </div>
        <div class="create">
          <form
            action="/leave/edit/<%= data[0].guest_leave_id %>"
            method="post"
          >
            <div class="input-group">
              <label for="">Id Card:</label>
              <input
                type="text"
                name="id_card"
                value="<%= data[0].id_card %>"
              />
            </div>
            <div class="input-group">
              <label for="">Name:</label>
              <input type="text" name="name" value="<%= data[0].name %>" />
            </div>
            <div class="input-group">
              <label for="">Address:</label>
              <input
                type="text"
                name="address"
                value="<%= data[0].address %>"
              />
            </div>
            <div class="input-group">
              <label for="">Nationality:</label>
              <input
                type="text"
                name="nationality"
                value="<%=
              data[0].nationality %>"
              />
            </div>

            <button type="submit">Submit!</button>
          </form>
        </div>
        <div class="info2">
          <!-- <p><b>Guests list: ()</b></p> -->
        </div>
      </div>
      <div class="footer">
        <h6>&copy; 2024 Visitor</h6>
      </div>
    </div>
  </body>
</html>
